

h1{
    background-color:rgb(37, 199, 91);
    margin-left: 0%;
    margin-right:0%;
    height: 7%;
    color:black;
    border-radius: 10%;
    
    border-width: 0px;
    position: relative;
    text-align:left;
    text-decoration:double;
}
h2{
    background-color:black;
}
 .att{
    text-align:center;
    position:fixed;
 }
 a{
    margin-left:130px;
    color:black;
 }

.h3{
    align-items: center;
    display: inline-block;

}

.k{
    image-resolution: center;
}
.cor{
    text-decoration-color: aqua;
    margin-left :35%;
}

.picture{
    display: flex;
    flex-direction:column;
}


